
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  background: rgb(295, 255, 255);
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  background:#003366;
  color: white;
  padding: 15px 30px;
}

header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 1.2s;
  padding: 20px;
}

nav a:hover {
  color: #ffcc00;
}


main {
  flex: 1;
  text-align: center;
  padding: 50px 20px;
}

main h2 {
  font-size: 26px;
  color: #003366;
  margin-bottom: 20px;
}

main p {
  color: #666;
  margin-bottom: 30px;
  font-size: 16px;
}

button {
  background: #003366;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0055cc;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background: #003366;
  color: white;
}

form {
  width: 50%;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  color: #003366;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
